<header><h1 class="display-4">Lugares</h1></header>


<%= link_to 'Add place', new_place_path, class: 'btn btn-primary btn-lg' %>


<!--div style='width: 800px; right: 0px'-->
<%= render 'map' %>
